@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');



/* google font */
.inter-normal-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
/* 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  /* body background color */
  body{
    background: #333;
    color: white;
    max-width: 1440px;
}

/* common style */
.hide{
  display: none;
}
.side-margin{
  margin-left: 4rem;
  margin-right: 4rem;
}


section{
  margin-top: 100px;
}
.text-center{
  text-align: center;
  font-weight: 900;

}
.btn{
  
  background-color: #FF900E;
  border: none;
  padding: 8px 30px;
  border-radius: 14px;
  color: white;
}
.primary-p{
  font-size: 1rem;
  opacity: .4;
  align-items: center;
  justify-content: center;
}


/* Header section style */
/* navbar section */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}
.nav-menu{
  font-size: 18px;
  align-items: center;
}
span{
  font-family: m;
}
nav ul{
  display: flex;

}
nav a{
  text-decoration: none;
  font-weight:bold;
  
}
nav li{
  list-style: none;
  margin-right: 30px;
  
}
.logo{
  color: rgb(230, 83, 60);
  font-style: italic;
  font-size: 3rem;
}
nav button{
  background: rgb(230, 83, 60);
  padding: 8px 20px;
  color: white;
  border-radius: 14px;
  
  
}

/* banner style  */

.shape-text{
  font-family: "Pacifico", cursive;
  font-style: italic;
  font-weight: 100;
}
.banner{
  display: flex;
  justify-content: center;
}
.banner-btn{
  display: flex;
  margin-top: 50px;
  gap: 20px;
  justify-content: center;
}
.title{
  font-size: 4rem;
}
.banner-des{
  opacity: .5;
  font-size: .8rem;
  justify-content: center;
}

.banner-btn-1{
  background-color: rgb(230, 83, 60);
  border: none;
  padding: 8px 30px;
  border-radius: 14px;
  color: white;
}
.banner-btn-2{
  background-color: #333;
  border: 1px solid white;
  padding: 8px 30px;
  border-radius: 14px;
  color: white;

}
.pointer{
  cursor: pointer;
}

.banner-img{
  margin-left: 150px;
}
.banner-img img{
  height: 500px;
  background-size: cover;
}
.card{
  background-color: #333;
  opacity: .5;
  border-radius: 14px;
  border: 1px solid black;
  margin-top: -150px;
  margin-left: -100px;
  line-height: 3px;
  justify-content: center;
  align-items: center;
  display: flex;

}
.card-des{
  
}
i{
  font-size: 40px;
  margin-right: 10px;
}


.card-title{
  font-weight: 800;


   
  
}
.workouts{
  border: 1px solid black;
  opacity: .5;
  text-align: center;
  line-height: 1rem;
  margin-bottom: -100px;  
  margin-left: 200px;
}
/* habits section style */
.habits-img{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.habits img{
  border-radius: 50%;
}
.habits p{
  font-size: .6rem;
  text-align: center;
  opacity: .5;

}

.habits h6, h1{
  text-align: center;
}


/* run section */

.run img{
  height: 200px;
  width: 280px;
  border-radius: 10px;
  margin-left: 150px;
}
.run p{
  font-size: .8rem;
  opacity: .5;
  margin-top: 10px;
}
.run{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly
}
.run-title{
  font-size: 2.5rem;
}

.run-content{
justify-content: space-between;

}

                  /* <!-- Training and exercise section --> */

  
/* .exercise-1{
  display: flex;
}
.exercise-1 p{
  margin-top: -100px;
} */


/* bmi section */
.bmi h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.bmi-chart-calculator{
  display: flex;
  justify-content: space-between;
}
.bmi-chart{
  display: flex;
  justify-content: space-between;
  margin-left: -370px;
}
.chart-num{
  margin-top: 50px;
  margin-left: 
}
.chart-status{
  margin-top: 50px;
  margin-left: 20px;
}
.chart-head{
  /* text-align: center; */
  margin-left: 100px;

}

.chart-num p{
  opacity: .5;
  font-size: 1rem;
}
.chart-status{
  opacity: .5;
  font-size: 1rem;
}

.bmi-calculator p{
  opacity: .5;
  font-size: 1rem;
  
  
}
.bmi-calculator-content input{
 padding: 8px 25px;
 margin-bottom: 5px;
 border-radius: 8px;
 background-color: #333;
 border: 1px solid white;
 color: white;
}
.bmi-calculator-content ::placeholder{
  color: white;
  opacity: .5;
}
.select{
  padding: 8px 25px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: #333;
  width: 100px;
  color: white;

}
#sex{
  width: 220px;
  background-color: #333;
  color: white;
  padding: 8px 25px ;
  border-radius: 8px;
  margin-left: -25px;
  
}

#activity{
  padding: 8px 25px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: #333;
  color: white;
  width: 450px;


}




/* team section */
.team-img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
  justify-items: center;
  row-gap: 10px;
  column-gap: 10px;
  
}
.team img{
  height: 300px;
  width: 90%;
  border-radius: 10px;
  opacity: 0.8;
  margin-bottom: 15px;
  
  
}
.team{
  justify-content: center;
}

/* test */

.meet-team{
  
}
.all-image{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
}

.image-team{
  /* width: 326px;
  height: 225px; */
  position: relative;
  border-radius: 8px;

}
.image-team img{
  border-radius: 18px;
  width: 100%;
  height: 100%;
}

.text-content{
  position: absolute;
  bottom: 10px;
  left: 10px;
  line-height: 4px;
}

.text-content>h3{
  font-size: 1.2rem;
}
.text-content p{
  font-size: .8rem;
  opacity: .8;
}


/* get start section */
.get-start{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  

}
.get-start p{
  color: whitesmoke;
  
}

.span-1{
  color: rgb(230, 83, 60);
  font-weight: bolder;
  font-size: 3rem;
  font-style: italic;
  justify-content: left;
  text-align: left;
}
.get-start-1{
width: 50%;
text-align: left;

}
.get-start h1{
  text-align: left;
}
.get-start-2{
  width: 25%;

}

.get-start-3{
  width: 25%;

}

.design{
  text-align: center;
  font-size: .8rem;
  opacity: .5;
  line-height: .4rem;
}





/* mobile responsive start */

@media screen and (max-width:576px) {
  .side-margin{
    margin-left: 10px;
    margin-right: 10px;
  }
  body{
    
  }

  /* nav section */
  .nav-menu{
    display: none;
  }
  .menu-icon{
    display: block;
    font-size: 2.5rem;
  }

  /* banner section */
  .banner{
    flex-direction: column;
  }
  .banner-content{
    margin-bottom: 50px;
  }
  .title{
    text-align: left;
  }
  .banner-des{
    text-align: left;
  }
  .banner-img{
    justify-content: center;
    border-radius: 14px;
    margin-bottom: 10px;
    
    margin-left: 50px;
  }
.workouts{
  line-height: 20px;
}
  
  
  /* run section */
  .run{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .run img{
   margin-top: 50px;
   margin-left: -100px;
  align-items: center;
  height: 300px;
  width: 340px;
  margin: 0 auto;
  margin-top: 20px;
  }
  .run-title{
    align-items: center;
    font-size: 3rem;
  }

/* bmi section */

  .bmi-chart-calculator{
    flex-direction: column;
  }
  .bmi-calculator h3{
    text-align: left;
  }
  .bmi-chart{
    margin-left: -1px;
    justify-content: left; 
    margin-bottom: 50px;
  }
  .chart-head{
    margin-left: -1px;
  }
  #activity{
    width: 220px;
    margin-top: 5px;
  }


/* habits section */
.habits h1{
  font-size: 3rem;
}

  .habits-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    text-align: left;
   
  }
  .habits-img-1, .habits-img-2, .habits-img-3, .habits-img-4{
    text-align: center;
    margin-bottom: 50px;
    margin-right: 20px;
  }
  .habits p{
    margin-top: 2px;
  }


/* team section */

  .team-img{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* justify-content: center; */
    margin-top: 20px;
  }

  .all-image{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .image-team img{
    width: 100%;
    height: 100%;
  }

  /* get start section */
.get-start{
  flex-direction: column;
  align-items: normal;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.span-1{
  text-align: left;
  width: 100%;
  font-size: 4rem;
}
.get-start-1, .get-start-2, .get-start-3{
  text-align: left;
  margin-left: -1px;
}
.get-start p{
  width: 100%;
  justify-content: left;
  align-content: normal;
}
.primary-p{
  width: 100%;
}
.get-start-1{
  width: 100%;
  text-align: start;
}
.get-start-1 
.get-start-1 h1{
  font-size: 4rem;
}
.get-start-2, .get-start-3{
  width: 100%;
}
.get-start-2 h3{
  font-size: 2rem;
}
.get-start-3 h3{
  font-size: 2rem;
}


  
}


